.one{
	
	width:350px;
	height:50px;
	margin-bottom:20px;
	border-radius:5px;
	border-width:1px;
}
#link{
	margin-left:50%;
	text-decoration:none;
	color:grey;
}
[type="submit"]{
	width:350px;
	height:50px;
	margin-top:20px;
	background:violet;
	border-radius:5px;
	border-width:1px;
	color:white;
	font-weight:bold;
	font-size:15px;
	
}
#tb1{
	margin-top:150px;
		
}
[placeholder]{
	padding:20px;
	font-weight:bold;
	color:gray;
}